:root {
  font-family: Poppins;
  line-height: 1.5;
  font-weight: 900;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 800;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  background-image:
  radial-gradient(at 58% 63%, hsla(177, 62%, 61%, 1) 0px, transparent 50%),
  radial-gradient(at 73% 31%, hsla(34, 63%, 79%, 1) 0px, transparent 50%),
  radial-gradient(at 88% 23%, hsla(313, 84%, 64%, 1) 0px, transparent 50%),
  radial-gradient(at 22% 12%, hsla(295, 70%, 62%, 1) 0px, transparent 50%),
  radial-gradient(at 3% 88%, hsla(276, 75%, 78%, 1) 0px, transparent 50%),
  radial-gradient(at 78% 92%, hsla(251, 60%, 77%, 1) 0px, transparent 50%),
  radial-gradient(at 31% 90%, hsla(355, 85%, 64%, 1) 0px, transparent 50%);
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}

.WrapperBodyIndex{
    display: flex;
    justify-content: center;
    padding-top: 6rem;

    min-height: 90vh;
}